

<script>
{% include "js/nav.js" %}
</script>



<div class="main-nav-cont">

	<div class="secondary-nav-cont">
		<a class="main-logo" href="#">Canadian Pest Authority</a>


		<button class="menuButtonUnselected" id="menuButton" type="button" onclick="showMainNavLinks()"><i class="material-icons" id="mnu-drp-arrow">expand_more</i>Menu</button>
	</div>

	<div id="main-nav-links">

		
			
		<div class="main-nav-links-links-cont">
			<button class="articleButtonUnselected" id="articles-button" type="button" onclick="showDropdownNavLinks()"><i class="material-icons" id="art-drp-arrow">expand_more</i>Articles & Guides</button> 
			
				
			
				<div class="dropdown-nav-links-collapsed-mobile" id="dropdown-nav-links-mobile">

					<div class="dropdown-nav-links-desc">
						<p>This is a description of the navigation links.</p>
					</div>

					<div class="dropdown-nav-links-link-cont">
					
						<a href="#">Residential Pest Control</a>
						<a href="#">Commercial / Industrial Pest Control</a>
						<a href="#">Wildlife Control</a>
						<a href="#">Pesticide Information</a>
						
					</div>
					
					
					
				</div>
			
			
			
			<hr class="hr-mobile">
			
			<a href="#">Pest Library</a>
			
			<hr class="hr-mobile">
			
			<a href="#">Find A Local Exterminator</a>
			
			<hr class="hr-mobile">
			
			<a href="#">PMP Resources</a>
			
			<hr class="hr-mobile">
		</div>
	</div>
</div>






<div class="dropdown-nav-links-collapsed" id="dropdown-nav-links">

	<div class="dropdown-nav-links-desc">
		<p>This is a description of the navigation links.</p>
	</div>

	<div class="dropdown-nav-links-link-cont">
	
		<a href="#">Residential Pest Control</a>
		<a href="#">Commercial / Industrial Pest Control</a>
		<a href="#">Wildlife Control</a>
		<a href="#">Pesticide Information</a>
		
	</div>
	
</div>






